[mysqld]
datadir = /data/mysql
socket = /var/lib/mysql/mysql.sock
innodb_file_per_table
innodb_flush_log_at_trx_commit = 1
log-bin = /data/mysql/mysql-bin
server-id = 1
innodb_data_home_dir = /data/mysql/
innodb_data_file_path = ibdata1:50M:autoextend
innodb_log_group_home_dir = /data/mysql/
sync_binlog = 1
innodb_buffer_pool_size = 6G
innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 256M
innodb_log_buffer_size = 4M
[mysql.server]
user = mysql
basedir = /var/lib
[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid
